.projectcard-temp {
    width: 96%;
    margin-inline: auto;
    border-radius: 12px;
    min-height: 30vh;
    padding: 22px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;

}