.project {

    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

}

.domain {
    background-color: #7b61ff;
    height: 24px;
}

.nan {
    position: absolute;
    right: 0px;
    left: 0px;
}



.projectimgage {
    width: 96%;

    overflow: hidden;
    border-radius: 8px;
    margin-inline: auto;
    border: 2px solid white;

}

.dots {
    float: left;
    margin-left: 1rem;
}

.dot {
    margin-top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.des {
    border-radius: 8px;
    padding: 15px;
    width: 96%;
    margin-inline: auto;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.info {
    width: 50px;
    height: 50px;
}

.ap {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 16px;
}

@media (min-width:500px) {
    .projectimgage {
        width: 90%;
    }

    .des {
        width: 90%;
    }

}